<ion-header>
  <ion-toolbar>
    <ion-title>Verificación de email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user " >
  <ion-row>
    <ion-col>
      <h2>Gracias por registrarte!</h2>
      <p>Se ha enviado un correo de confirmación a <strong>{{user.email}}</strong></p>
      <p>Por favor, comprueba tu correo y verifica tu dirección de email</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button (click)="sendEmail()" expand="block">Volver a enviar el correo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button routerLink="/home" expand="block">Volver al inicio</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
