<ion-header>
  <ion-toolbar>
    <ion-title>Chicken Helper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-title class="redTitle">
     &nbsp; Registro
    </ion-card-title>

    <form [formGroup]="registerClientForm" (keyup.enter)="register(email.value, pwd.value)"> 
      
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input #email placeholder="Escribe tu email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" #pwd placeholder="Escribe tu contraseña" formControlName="pwd"></ion-input>
      </ion-item>

      <br /><br />
      <ion-button (click)="register(email.value, pwd.value)" type="submit" expand="block">
        Registrarse
      </ion-button>

    </form>

    <ion-row>
      <ion-col>
        <p class="ion-text-center">
        <a routerLink="/login-client">¿Ya tienes una cuenta?</a>
        </p>
      </ion-col>
  </ion-row>

  </ion-card>  

</ion-content>
