<ion-content>
  <ion-card>
    <ion-card-title>&nbsp; Lista de Ofertas</ion-card-title>
    <ion-card-content *ngIf="ofertas.length == 0">Todavía no has añadido ninguna oferta</ion-card-content>
    <ion-card-content></ion-card-content>
  </ion-card>

  <ion-button (click)="presentModalOferta()" expand="block">Añadir Oferta</ion-button>

  <ion-card>
    <ion-card-title> &nbsp;  Lista de Artículos</ion-card-title>
    <ion-card-content *ngIf="articulos.length == 0">Todavía no has añadido ningún artículo</ion-card-content>
    <ion-list>
      <ion-item *ngFor="let articulo of articulos">
        <ion-label><strong>·</strong> {{articulo.nombre}}</ion-label>
        <ion-button color="primary" (click)="editArticulo(articulo.uid, articulo.nombre)" >Ver Info y Editar</ion-button>
        <ion-button color="danger" (click)="deleteArticulo(articulo.uid)" >Eliminar</ion-button>
      </ion-item>
      </ion-list>

  </ion-card>

  <ion-button (click)="presentModalArticulo()" expand="block">Añadir Artículo</ion-button>

</ion-content>