<ion-content>
  <ion-card>
    <ion-card-title class="redTitle">&nbsp; Lista de Ofertas</ion-card-title>
    <ion-card-content *ngIf="ofertas.length == 0">Todavía no has añadido ninguna oferta</ion-card-content>
    <ion-list>
      <ion-item *ngFor="let oferta of ofertas">
        <ion-label><strong>·</strong> {{oferta.nombre}}</ion-label>
        <button (click)="editOferta(oferta.uid)" class="btnBlue">Ver Info o Editar</button> &nbsp;
        <button (click)="deleteOferta(oferta.uid)" class="btnRed" >Eliminar</button>
      </ion-item>
      </ion-list>
  </ion-card>

  <ion-button (click)="presentModalOferta()" expand="block">Añadir Oferta</ion-button>

  <ion-card>
    <ion-card-title class="redTitle"> &nbsp;  Lista de Artículos</ion-card-title>
    <ion-card-content *ngIf="articulos.length == 0">Todavía no has añadido ningún artículo</ion-card-content>
    <ion-list>
      <ion-item *ngFor="let articulo of articulos">
        <ion-label><strong>·</strong> {{articulo.nombre}}</ion-label>
        <button (click)="editArticulo(articulo.uid)" class="btnBlue">Ver Info o Editar</button> &nbsp;
        <button (click)="deleteArticulo(articulo.uid)" class="btnRed" >Eliminar</button>
      </ion-item>
      </ion-list>

  </ion-card>

  <ion-button (click)="presentModalArticulo()" expand="block">Añadir Artículo</ion-button>

</ion-content>