<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Artículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="articuloForm">

      <ion-item>
        <ion-label>Nombre del Artículo</ion-label>
        <ion-input #name type="text" placeholder="Nombre" formControlName="name" [ngClass]="{
          'invalidInput': articuloForm.controls.name.invalid && articuloForm.controls.name.touched,
          'validInput': articuloForm.controls.name.valid && articuloForm.controls.name.touched
        }">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Ingredientes del Artículo</ion-label>
        <ion-input #ingredients type="text" placeholder="Ingredientes" formControlName="ingredients" [ngClass]="{
          'invalidInput': articuloForm.controls.ingredients.invalid && articuloForm.controls.ingredients.touched,
          'validInput': articuloForm.controls.ingredients.valid && articuloForm.controls.ingredients.touched
        }">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Información de Alérgenos</ion-label>
        <ion-input #alergies type="text" placeholder="Alérgenos" formControlName="alergies" [ngClass]="{
          'invalidInput': articuloForm.controls.alergies.invalid && articuloForm.controls.alergies.touched,
          'validInput': articuloForm.controls.alergies.valid && articuloForm.controls.alergies.touched
          }">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Precio del artículo</ion-label>
        <ion-input #price type="text" placeholder="Precio" formControlName="price" [ngClass] = "{
          'invalidInput': articuloForm.controls.price.invalid && articuloForm.controls.price.touched,
          'validInput': articuloForm.controls.price.valid && articuloForm.controls.price.touched
        }">
        </ion-input>
      </ion-item>

    </form>

    <ion-button expand="block" (click)="addArticulo(name.value, ingredients.value, alergies.value, price.value)">
      Añadir
    </ion-button>

    <ion-button color="danger" (click)="dismissModal()" expand="block">
      Salir
    </ion-button>

  </div>
</ion-content>