<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="articuloForm">

      <ion-item>
        <ion-label><strong>Nombre</strong></ion-label>
        <ion-input #name type="text" placeholder="Nombre del artículo" value={{nombre}} formControlName="name" [ngClass]="{
          'invalidInput': articuloForm.controls.name.invalid && articuloForm.controls.name.touched,
          'validInput': articuloForm.controls.name.valid && articuloForm.controls.name.touched
        }">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label><strong>Ingredientes</strong></ion-label>
        <ion-input #ingredients type="text" placeholder="Ingredientes que lo forman" value={{ingredientes}} formControlName="ingredients" [ngClass]="{
          'invalidInput': articuloForm.controls.ingredients.invalid && articuloForm.controls.ingredients.touched,
          'validInput': articuloForm.controls.ingredients.valid && articuloForm.controls.ingredients.touched
        }">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label><strong>Alérgenos</strong></ion-label>
        <ion-input #alergies type="text" placeholder="Alérgenos que contiene" value={{alergenos}} formControlName="alergies" [ngClass]="{
          'invalidInput': articuloForm.controls.alergies.invalid && articuloForm.controls.alergies.touched,
          'validInput': articuloForm.controls.alergies.valid && articuloForm.controls.alergies.touched
          }">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label><strong>Precio</strong></ion-label>
        <ion-input #price type="text" placeholder="Precio del artículo" value={{precio}} formControlName="price" [ngClass] = "{
          'invalidInput': articuloForm.controls.price.invalid && articuloForm.controls.price.touched,
          'validInput': articuloForm.controls.price.valid && articuloForm.controls.price.touched
        }">
        </ion-input>
      </ion-item>

    </form>

    <ion-button expand="block" *ngIf="getType(uid) == 'undefined'" (click)="addArticulo(name.value, ingredients.value, alergies.value, price.value)">
      Añadir
    </ion-button>

    <ion-button expand="block" *ngIf="getType(uid) != 'undefined'" (click)="updateArticulo(name.value, ingredients.value, alergies.value, price.value)">
      Actualizar
    </ion-button>

    <ion-button color="danger" (click)="dismissModal()" expand="block">
      Salir
    </ion-button>

  </div>
</ion-content>