<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <form [formGroup]="pedidoForm">

      <ion-item>
        <ion-label><strong>Hora</strong></ion-label>
        <ion-datetime formControlname="hora" #date displayFormat="H:mm" placeholder="Selecciona una hora"></ion-datetime>
      </ion-item>
      
      <ion-item>
        <ion-label><strong>Concepto</strong></ion-label>
        <ion-select #concepto placeholder="Ofertas y Artículos" multiple="true" cancelText="Cancelar" (ionChange)="selectChanged()">
          <ion-select-option *ngFor="let i of ofertasArticulos" value="{{i.uid}}">{{i.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label><strong>Cliente</strong></ion-label>
        <ion-input #cliente type="text" placeholder="Nombre del cliente" formControlName="cliente" [ngClass]="{
          'invalidInput': pedidoForm.controls.cliente.touched && pedidoForm.controls.cliente.invalid,
          'validInput': pedidoForm.controls.cliente.touched && pedidoForm.controls.cliente.valid
        }"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><strong>Info</strong></ion-label>
        <ion-input #info type="text" placeholder="Información extra" formControlName="info" [ngClass]="{
          'invalidInput': pedidoForm.controls.info.invalid && pedidoForm.controls.info.touched,
          'validInput': pedidoForm.controls.info.valid && pedidoForm.controls.info.touched
        }"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><strong>Total</strong></ion-label>
        <ion-label text-align="left">{{total}}€</ion-label>
      </ion-item>

    </form>

    <ion-button color="danger" (click)="dismissModal()" expand="block">
      Salir
    </ion-button>
  </div>


 

</ion-content>
