<ion-header>
  <ion-toolbar>
    <ion-title>Chicken Helper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar>
      
      <ion-tab-button tab="ofertas-articulos">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Ofertas & Articulos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="pedidos">
        <ion-icon name="create"></ion-icon>
        <ion-label>Pedidos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="caja">
        <ion-icon name="cash"></ion-icon>
        <ion-label>Caja</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
