<ion-header>
  <ion-toolbar>
    <ion-title>Chicken Helper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title class="redTitle"> 
      &nbsp; Confirmación de Pedido
    </ion-card-title>

    <ion-card-content>
      <h2>
        ¡Muchas gracias!
        <br/> <br/>
        Tu pedido se ha realizado correctamente, el asador lo ha recibido y pronto podrás recogerlo. <br /> <br />
        Para ver la información de tu pedido, haz click en el siguiente botón
      </h2>
      <br />
      <ion-button (click)="myOrders()" expand="block">Ver mis pedidos</ion-button>

    </ion-card-content>

  </ion-card>
</ion-content>
