<ion-header>
  <ion-toolbar>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title class="redTitle">&nbsp; Información</ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label><strong>Nombre: </strong>{{name}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label><strong>Horario: </strong>{{schedule}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label><strong>Dirección: </strong>{{address}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label><strong>Teléfono: </strong>{{tlf}}</ion-label>
      </ion-item>

      <br/>

    </ion-card-content>
  </ion-card>

  <ion-button (click)="dismiss()" expand="block">OK</ion-button>

</ion-content>
