<ion-header>
  <ion-toolbar>
    <ion-title>Chicken Helper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br/>
  <ion-button (click)="newOrder()" expand="block">Nuevo Pedido</ion-button>

  <ion-card>
    <ion-card-title class="redTitle"> &nbsp;Pedidos recientes</ion-card-title>
    <ion-card-content>
      <ion-label *ngIf="pedidos.length == 0">Todavía nos has hecho ningún pedido. ¡Empieza uno nuevo!</ion-label>  

      <ion-card *ngIf="pedidos.length > 0">
        <ion-card-content>
          <h2>Selecciona un pedido para ver más info</h2>
        </ion-card-content>
      </ion-card>

      <ion-list *ngIf="pedidos.length > 0">
        <ion-item *ngFor="let pedido of pedidos" (click)="showInfo(pedido.uid)">
          <ion-label>{{pedido.conceptoNombres}}</ion-label>
          <ion-label>{{pedido.hora | date:'dd/MM/yy'}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title class="redTitle">&nbsp; Uso de Datos</ion-card-title>
    <ion-card-content>
      Los datos que introduces al hacer los pedidos son visibles para el asador, pero no tiene acceso directo a ellos. <br/><br/> Al usar esta aplicación 
      aceptas que el asador pueda ver la información que introduces al hacer tus pedidos. <br/> <br/>

      ¿Dudas o sugerencias? <a href="mailto:infochickenhelper@gmail.com">infochickenhelper@gmail.com</a>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="logout()">Cerrar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
