<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chicken Helper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="https://okdiario.com/img/2019/07/09/pollo-asado-con-brandy.jpg"></ion-img>

    <ion-card-header>
      <ion-card-title>¡Bienvenido a Chicken Helper!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     Inicie sesión o registrate para comenzar
    </ion-card-content>

    <ion-button (click)="navigateLogin()">
      Iniciar sesión
    </ion-button>

    <ion-button (click)="navigateRegister()">
      Registrarse
    </ion-button>

  </ion-card>
</ion-content>
