<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Oferta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="ofertaForm">
      
      <ion-item>
        <ion-label>Nombre de la Oferta</ion-label>
        <ion-input #name placeholder="Nombre" formControlName="name" [ngClass]="{
          'invalidInput': ofertaForm.controls.name.invalid && ofertaForm.controls.name.touched,
          'validInput': ofertaForm.controls.name.valid && ofertaForm.controls.name.touched
        }">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Artículos que componen la Oferta</ion-label>
        <!--
          Input o dropdownlist?
        -->
      </ion-item>

      <ion-item>
        <ion-label>Precio de la Oferta</ion-label>
        <ion-input #price placeholder="Precio" formControlName="price" [ngClass]="{
          'invalidInput': ofertaForm.controls.price.invalid && ofertaForm.controls.price.touched,
          'validInput': ofertaForm.controls.price.valid && ofertaForm.controls.price.touched  
          }">
        </ion-input>
      </ion-item>

    </form>

    <ion-button expand="block">
      Añadir Oferta
    </ion-button>

    <ion-button color="danger" (click)="dismissModal()" expand="block">
      Salir
    </ion-button>

  </div>
</ion-content>
