<ion-content>
  <ion-card>
    <ion-card-title> &nbsp; Lista de Pedidos</ion-card-title>
  </ion-card>

  <ion-button expand="block" (click)="presentModalPedido()">Nuevo pedido</ion-button>
  <ion-button expand="block" color="success">Añadir Venta</ion-button>

  <ion-card>

    <ion-card-content *ngIf="pedidos.length == 0" >No hay pedidos para hoy de momento...</ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col class="tableHeader" size="1" text-align="center">
          <ion-header>Hora</ion-header>
        </ion-col>
  
        <ion-col class="tableHeader" size="3.5">
          <ion-header>Concepto</ion-header>
        </ion-col>
  
        <ion-col class="tableHeader" size="2">
          <ion-header>Cliente</ion-header>
        </ion-col>
  
        <ion-col class="tableHeader" size="2">
          <ion-header>Info</ion-header>
        </ion-col>
  
        <ion-col class="tableHeader" size="1">
          <ion-header>Total</ion-header>
        </ion-col>
  
        <ion-col class="tableHeader" size="2.5" text-align="center">
          <ion-header>Editar</ion-header>
        </ion-col>
  
      </ion-row>

      <ion-row *ngFor="let pedido of pedidos">
        <ion-col class="tableCol" size="1">
          <ion-label>{{pedido.hora | date:'shortTime'}}</ion-label>
        </ion-col>
  
        <ion-col class="tableCol" size="3.5">
          <ion-label>{{pedido.concepto}}</ion-label>
        </ion-col>
  
        <ion-col class="tableCol" size="2">
          <ion-label>{{pedido.cliente}}</ion-label>
        </ion-col>
  
        <ion-col class="tableCol" size="2">
          <ion-label>{{pedido.info}}</ion-label>
        </ion-col>
  
        <ion-col class="tableCol" size="1">
          <ion-label>{{pedido.total}}€</ion-label>
        </ion-col>
  
        <ion-col size="2.5" class="tableCol">
          <ion-icon name="checkmark-sharp" (click)="check()" size="large" class="checkmarkIcon"></ion-icon>
          &nbsp;
          <ion-icon name="create" (click)="edit()" size="large" class="editIcon"></ion-icon>
          &nbsp;
          <ion-icon name="trash" (click)="delete()" size="large" class="deleteIcon"></ion-icon>
        </ion-col>
  
      </ion-row>    
    </ion-grid>
  </ion-card>

</ion-content>
