.pedidoRecogido{
    background-color: rgb(42, 165, 42);
    color: white
}

.cardPayed{
    background-color: cornflowerblue;
    color: white;
}

.needsConfirmation{
    background-color: rgb(199, 53, 33);
    color: white;
}


.blankCell{
    background-color: white;
}