<ion-header>
  <ion-toolbar>
    <ion-title>Chicken Helper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title class="redTitle">&nbsp; Selecciona un asador</ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label>Asadores</ion-label>
        <ion-select #asador placeholder="Selecciona" cancelText="Cancelar" doneText="OK" (ionChange)="loadOfertasArticulos(asador.value)">
          <ion-select-option *ngFor="let i of asadores" value="{{i.uid}}" >{{i.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf='ofertas.length > 0'>
    <ion-card-title class="redTitle" > &nbsp; Ofertas </ion-card-title>
    <ion-list>
      <ion-item *ngFor="let oferta of ofertas">
        <ion-label><strong>·</strong> {{oferta.nombre}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
