<ion-header>
  <ion-toolbar>
    <ion-title>Chicken Helper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title class="redTitle">&nbsp; Asador Y Hora</ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-select #asador interface="popover" placeholder="Asador" cancelText="Cancelar" doneText="OK" (ionChange)="loadOfertasArticulos(asador.value)">
          <ion-select-option *ngFor="let i of asadores" value="{{i.uid}}" >{{i.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-datetime #hora formControlname="hora" displayFormat="H:mm" placeholder="Hora" minuteValues="{{minutes}}" cancelText="Cancelar" doneText="OK"></ion-datetime>
      </ion-item>

      <br/>
      &nbsp; <button *ngIf="asador.value" class="btnBlue" (click)="presentModalInfoAsador(asador.value)" expand="block">Información del Asador</button>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="ofertas.length == 0 && articulos.length == 0">
    <ion-card-content>
      <ion-label>Selecciona un asador para ver sus ofertas y artículos</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf='ofertas.length > 0'>
    <ion-card-title class="redTitle" > &nbsp; Ofertas </ion-card-title>
    <ion-list>
      <ion-item *ngFor="let oferta of ofertas">
        <ion-grid>
          <ion-row>
            <ion-col col-12 col-xl-2 col-lg-3 col-md-4>
              <ion-label><strong>·</strong> {{oferta.nombre}}</ion-label>
            </ion-col>
            <ion-col col-12 col-xl-2 col-lg-3 col-md-4>
              <ion-label>{{oferta.precio |currency:'EUR':"symbol"}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button class="btnBlue" (click)="presentModalInfo(oferta.uid, 0)">Información</button> &nbsp; &nbsp;
              <button class="btnBlue" (click)="add(oferta.uid, oferta.nombre, oferta.precio)">Añadir</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> <br/>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="articulos.length > 0">
    <ion-card-title class="redTitle" > &nbsp; Artículos </ion-card-title>
    <ion-list>
      <ion-item *ngFor="let articulo of articulos">
        <ion-grid>
          <ion-row>
            <ion-col col-12 col-xl-2 col-lg-3 col-md-4>
              <ion-label><strong>· </strong> {{articulo.nombre}}</ion-label>
            </ion-col>
            <ion-col col-12 col-xl-2 col-lg-3 col-md-4>
              <ion-label>{{articulo.precio |currency:'EUR':"symbol"}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button class="btnBlue" (click)="presentModalInfo(articulo.uid, 1)">Información</button> &nbsp; &nbsp;
              <button class="btnBlue" (click)="add(articulo.uid, articulo.nombre, articulo.precio)">Añadir</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> <br/>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-title class="redTitle" > &nbsp;Tus Datos </ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-input #nombre placeholder="Nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input #tlf placeholder="Teléfono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input #info placeholder="Info extra sobre tu pedido"></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title class="redTitle"> &nbsp; Tu Pedido</ion-card-title>

    <ion-card *ngIf="pedido.length == 0">
      <ion-card-content>
        <ion-label>Todavía no has añadido nada a tu pedido</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card-content *ngIf="pedido.length > 0">
      <ion-list >
        <ion-item *ngFor="let i of pedido">
          <ion-label><strong>· &nbsp;</strong>{{i.nombre}}</ion-label>
          <ion-icon name="trash" (click)="delete(i, i.precio, i.id)" size="large" class="deleteIcon"></ion-icon>
        </ion-item>
      </ion-list>

      <br />
      <ion-item>
        <ion-label><strong>Total: </strong>{{total | currency:'EUR':"symbol"}}</ion-label>
      </ion-item>

      <br />

      <ion-grid>
        <ion-row>
          <ion-col>
            <button class="btnBlue" (click)="order(nombre.value, asador.value, hora.value, info.value)">Hacer Pedido</button>
          </ion-col>
          <ion-col>
            <button class="btnRed" (click)="deleteOrder()">Borrar Pedido</button>
          </ion-col>
        </ion-row>
      </ion-grid>
      

    </ion-card-content>
  </ion-card>

</ion-content>
