<ion-header>
  <ion-toolbar>
    <ion-title>Chicken Helper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title class="redTitle">&nbsp; Selecciona un asador</ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label>Asadores</ion-label>
        <ion-select #asador placeholder="Selecciona" cancelText="Cancelar" doneText="OK">
          <ion-select-option>Los pollitos de mi compare</ion-select-option>
          <ion-select-option>Los pollitos de mi compare 2</ion-select-option>
          <ion-select-option>Los pollitos de mi compare 3 </ion-select-option>
          <ion-select-option>Los pollitos de mi compare 4</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title class="redTitle"> &nbsp; Haz tu pedido</ion-card-title>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
</ion-content>
