/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-card-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

ion-title {
    color: gray; font-family: 'Raleway',sans-serif; font-size: 24px; font-weight: 800; line-height: 20px; margin: 10 10 10px; text-align: center; text-transform: uppercase;
}