/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content{
	--background: url('https://image.freepik.com/vector-gratis/pierna-pollo-patron-patron-costuras-papel-tapiz-papel-regalo-estampados-moda-tela-diseno_120357-3.jpg')
}

ion-title {
    color: white; font-family: 'Raleway',sans-serif; font-size: 110%; font-weight: 800; margin: 10 10 10px; text-align: center; text-transform: uppercase; 
    background-color: rgb(65, 85, 94);
}

ion-button{
    margin: 5px 5px 5px 5px;
}

ion-grid{
    margin-left: 2%;
}

ion-row{
    margin-top: 5%;
}

.tableHeader{
    font-family: 'Raleway',sans-serif; font-weight: bolder; text-align: center; text-transform: uppercase;
}

.tableCol{
    text-align: center;
}

.checkmarkIcon{
    color: green;
}

.editIcon{
    color: gray;
}

.deleteIcon{
    color: rgba(199, 7, 7, 0.623);
}

.uncheckIcon{
    color: darkred;
}

.redTitle{
    background-color: rgba(189, 22, 22, 0.815);
    color: white
}

.btnBlue {
	box-shadow: 0px 1px 0px 0px #276873;
	background-color:transparent;
	border-radius:6px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#47577d;
	font-family:Arial;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btnBlue:hover {
	background-color:#29668f;
    color: white;
}
.btnBlue:active {
	position:relative;
	top:1px;
}


.btnRed {
	box-shadow: 0px 1px 0px 0px #cf866c;
	background-color:transparent;
	border-radius:6px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#a86262;
	font-family:Arial;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.btnRed:hover {
	background-color:#942911;
    color: white;
}
.btnRed:active {
	position:relative;
	top:1px;
}

.demo{
	background-color: rgba(19, 206, 97, 0.815);
    color: white
}






